
a {
	text-decoration: none;
}

img {
	height: 20.8333em;
	width: 16.6666em;
}
#header {
	margin-bottom: 1.5em;
}
		#header_left h1 {
			font-size: 3em;
			margin-bottom: 1.5em;
		}
		#header_left h2 {
			font-weight: normal;
			margin-bottom: 20px;
		}
#resume_head {
	padding-right: 4.2em;
	margin-bottom: 1.5em;
}
#resume_head a {
	font-size: 1.5em;
}
li {
	list-style: none;
	padding: 0 0 .7em 0;
}
.bold {
	font-weight: bolder;
}